<div style="font-family: sans-serif; max-width: 560px; margin: 0 auto; padding: 24px;">
  <p>A booking has been cancelled.</p>
  <p>Customer: <%= @customer_name %></p>
  <p>Service: <%= @service_name %></p>
  <p>Date: <%= @date %> at <%= @time %></p>
  <p>Reference: #<%= @short_booking_id %></p>
</div>
