<div style="font-family: sans-serif; max-width: 560px; margin: 0 auto; padding: 24px;">
  <p>Une réservation a été annulée.</p>
  <p>Client : <%= @customer_name %></p>
  <p>Service : <%= @service_name %></p>
  <p>Date : <%= @date %> à <%= @time %></p>
  <p>Référence : #<%= @short_booking_id %></p>
</div>
