<p>Your booking has been confirmed.</p>
<p><strong><%= @business_name %></strong> – <%= @service_name %></p>
<p>Date: <%= @date %> at <%= @time %></p>
<p>Reference: #<%= @short_booking_id %></p>
<p>We've sent a confirmation to your phone as well.</p>
