<p>You have a new booking.</p>
<p>Customer: <%= @customer_name %></p>
<p>Service: <%= @service_name %> at <%= @business_name %></p>
<p>Date: <%= @date %> at <%= @time %></p>
<p>Reference: #<%= @short_booking_id %></p>
