<p>Vous avez une nouvelle réservation.</p>
<p>Client : <%= @customer_name %></p>
<p>Service : <%= @service_name %> chez <%= @business_name %></p>
<p>Date : <%= @date %> à <%= @time %></p>
<p>Référence : #<%= @short_booking_id %></p>
